body {
    background-color: rgb(216, 169, 255);
}

hr {
    height: 2px;
    background-color: rgb(255, 0, 170);
    position: relative;
}

.titulo{
    position: relative;
    color: rgb(255, 0, 170);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
